<a href="https://colab.research.google.com/github/Evgeniy-luka/main/blob/main/%D0%9F%D1%80%D0%B5%D0%B4%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B0_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85_%D0%B2_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:99% !important; }</style>"))

# Базовые манипуляции с DataFrame-ми

## Стандартные (основные) шаги

### Чтение DataFrame

In [ ]:
import pandas as pd

In [ ]:
## получим датасет из google doc (также можем его просто скачать
## и полжить локально на пк или свой гугл диск)
from io import BytesIO # для чтение данных из гугл диска
import requests # отправим заропс в гугл диск

r = requests.get('https://docs.google.com/spreadsheet/ccc?key=1CQ_Ym1EApfna5FlY8TGOnfKT1Q9rY5nzLxoibH9L72U&output=csv')
data = r.content
df = pd.read_csv(BytesIO(data), sep=',', skiprows=0, on_bad_lines='error')

In [ ]:
# df = pd.read_csv("german_credit_data.csv", sep=',', skiprows=0, on_bad_lines='error')

In [ ]:
df.shape

(1000, 12)

In [ ]:
# первые 5 строки
df.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk,Partition date
0,0,67.0,male,2.0,own,NaN,little,1169,6.0,radio/TV,good,10.07.2021
1,1,22.0,female,2.0,own,little,moderate,5951,48.0,radio/TV,bad,11.07.2021
2,2,49.0,male,1.0,own,little,NaN,2096,12.0,education,good,12.07.2021
3,3,45.0,male,2.0,free,little,little,7882,42.0,furniture/equipment,good,13.07.2021
4,4,53.0,male,2.0,free,little,little,4870,24.0,car,bad,14.07.2021

In [ ]:
# последние 6 строки
df.tail(6)

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk,Partition date
994,994,50.0,male,2.0,own,NaN,NaN,2390,12.0,car,good,10.04.2022
995,995,31.0,female,1.0,own,little,NaN,1736,12.0,furniture/equipment,good,11.04.2022
996,996,40.0,male,3.0,own,little,little,3857,30.0,car,good,12.04.2022
997,997,38.0,male,2.0,own,little,NaN,804,12.0,radio/TV,good,13.04.2022
998,998,23.0,male,2.0,free,little,little,1845,45.0,radio/TV,bad,14.04.2022
999,999,27.0,male,2.0,own,moderate,moderate,4576,45.0,car,good,15.04.2022

In [ ]:
# вывод случайных 2 строк но всегда разных
df.sample(2, random_state = 123)

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk,Partition date
131,131,NaN,male,2.0,own,little,little,6887,36.0,education,bad,18.11.2021
203,203,NaN,male,2.0,rent,little,little,902,12.0,education,bad,29.01.2022

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1000 non-null   int64
 1   Age               880 non-null    float64
 2   Sex               1000 non-null   object
 3   Job               964 non-null    float64
 4   Housing           1000 non-null   object
 5   Saving accounts   818 non-null    object
 6   Checking account  606 non-null    object
 7   Credit amount     973 non-null    object
 8   Duration          985 non-null    float64
 9   Purpose           1000 non-null   object
 10  Risk              984 non-null    object
 11  Partition date    1000 non-null   object
dtypes: float64(3), int64(1), object(8)
memory usage: 93.9+ KB

In [ ]:
df.describe()

        Unnamed: 0         Age         Job    Duration
count  1000.000000  880.000000  964.000000  985.000000
mean    499.500000   35.518182    1.901452   20.826396
std     288.819436   11.308866    0.652209   12.012245
min       0.000000   19.000000    0.000000    4.000000
25%     249.750000   27.000000    2.000000   12.000000
50%     499.500000   33.000000    2.000000   18.000000
75%     749.250000   42.000000    2.000000   24.000000
max     999.000000   75.000000    3.000000   72.000000

### Копирование датасета

In [ ]:
df_new = df

df_copy = df.copy()

In [ ]:
df_new['Age'] = 1
df.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk,Partition date
0,0,1,male,2.0,own,NaN,little,1169,6.0,radio/TV,good,10.07.2021
1,1,1,female,2.0,own,little,moderate,5951,48.0,radio/TV,bad,11.07.2021
2,2,1,male,1.0,own,little,NaN,2096,12.0,education,good,12.07.2021
3,3,1,male,2.0,free,little,little,7882,42.0,furniture/equipment,good,13.07.2021
4,4,1,male,2.0,free,little,little,4870,24.0,car,bad,14.07.2021

In [ ]:
df_copy['Age'] = 2
df.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk,Partition date
0,0,1,male,2.0,own,NaN,little,1169,6.0,radio/TV,good,10.07.2021
1,1,1,female,2.0,own,little,moderate,5951,48.0,radio/TV,bad,11.07.2021
2,2,1,male,1.0,own,little,NaN,2096,12.0,education,good,12.07.2021
3,3,1,male,2.0,free,little,little,7882,42.0,furniture/equipment,good,13.07.2021
4,4,1,male,2.0,free,little,little,4870,24.0,car,bad,14.07.2021

In [ ]:
#df = pd.read_csv("german_credit_data.csv", sep=',', skiprows=0, on_bad_lines='error')
df_copy = df.copy()

In [ ]:
df.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk,Partition date
0,0,1,male,2.0,own,NaN,little,1169,6.0,radio/TV,good,10.07.2021
1,1,1,female,2.0,own,little,moderate,5951,48.0,radio/TV,bad,11.07.2021
2,2,1,male,1.0,own,little,NaN,2096,12.0,education,good,12.07.2021
3,3,1,male,2.0,free,little,little,7882,42.0,furniture/equipment,good,13.07.2021
4,4,1,male,2.0,free,little,little,4870,24.0,car,bad,14.07.2021

### Обработка колонок

In [ ]:
# удалим ненужные колонки (столбцы, атрибуты, признаки)
df = df.drop("Unnamed: 0", axis=1) # inplace=False стандартное значние, возвращается новый измененный DataFrame

In [ ]:
#df_without_columns = df.drop("Unnamed: 0", axis=1)

#df.drop("Unnamed: 0", axis=1, inplace=True) # inplace=True, оригинальный DataFrame изменяется на месте, и метод ничего не возвращает

In [ ]:
df

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk,Partition date
0,1,male,2.0,own,NaN,little,1169,6.0,radio/TV,good,10.07.2021
1,1,female,2.0,own,little,moderate,5951,48.0,radio/TV,bad,11.07.2021
2,1,male,1.0,own,little,NaN,2096,12.0,education,good,12.07.2021
3,1,male,2.0,free,little,little,7882,42.0,furniture/equipment,good,13.07.2021
4,1,male,2.0,free,little,little,4870,24.0,car,bad,14.07.2021
...,...,...,...,...,...,...,...,...,...,...,...
995,1,female,1.0,own,little,NaN,1736,12.0,furniture/equipment,good,11.04.2022
996,1,male,3.0,own,little,little,3857,30.0,car,good,12.04.2022
997,1,male,2.0,own,little,NaN,804,12.0,radio/TV,good,13.04.2022
998,1,male,2.0,free,little,little,1845,45.0,radio/TV,bad,14.04.2022
999,1,male,2.0,own,moderate,moderate,4576,45.0,car,good,15.04.2022

Различные варианты записи переменных и имен:
регистр Camel - firstName, lastName
регистр Snake - first_name, last_name
регистр Kebab - first-name, last-name
регистр Pascal - FirstName, LastName

Для разных языков подходит разный регистр, для python мы используем регистр Snake

In [ ]:
# приведем названием колонок в правильный формат
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [ ]:
df.head(3)

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,risk,partition_date
0,1,male,2.0,own,NaN,little,1169,6.0,radio/TV,good,10.07.2021
1,1,female,2.0,own,little,moderate,5951,48.0,radio/TV,bad,11.07.2021
2,1,male,1.0,own,little,NaN,2096,12.0,education,good,12.07.2021

### Оценим пропуски

In [ ]:
# суммарные пропуски
df.isna().sum().sort_values(ascending=False)

checking_account    394
saving_accounts     182
job                  36
credit_amount        27
risk                 16
duration             15
age                   0
sex                   0
housing               0
purpose               0
partition_date        0
dtype: int64

Вопрос: почему среднее тут = доля пропусков?

In [ ]:
# Процент пропуск в колонках
df.isna().mean().sort_values(ascending=False) * 100

checking_account    39.4
saving_accounts     18.2
job                  3.6
credit_amount        2.7
risk                 1.6
duration             1.5
age                  0.0
sex                  0.0
housing              0.0
purpose              0.0
partition_date       0.0
dtype: float64

### Работа с датами

Переводим даты по формату: pd.to_datetime(df['date'], format='%m/%d/%y').

Не забываем про документацию: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html

In [ ]:
# посмотрим на даты
df["partition_date"].min(), df["partition_date"].max()

('01.01.2022', '31.12.2021')

In [ ]:
df['partition_date'] = pd.to_datetime(df['partition_date'], format='%d.%m.%Y')

Другие примеры того, как отработает формат.

In [ ]:
pd.to_datetime('10.07.2021', format='%d.%m.%Y')

Timestamp('2021-07-10 00:00:00')

In [ ]:
pd.to_datetime('10.07.2021', format='%Y-%m-%d')

ValueError: time data "10.07.2021" doesn't match format "%Y-%m-%d", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
pd.to_datetime('10.07.2021', format='%Y.%m.%d')

In [ ]:
# посмотрим на даты
df["partition_date"].min(), df["partition_date"].max()

In [ ]:
# посмотрим на даты
df.sort_values(by=['partition_date'])

### Числовая колонка `age`

In [ ]:
df.head()

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,risk,partition_date
0,1,male,2.0,own,NaN,little,1169,6.0,radio/TV,good,2021-07-10
1,1,female,2.0,own,little,moderate,5951,48.0,radio/TV,bad,2021-07-11
2,1,male,1.0,own,little,NaN,2096,12.0,education,good,2021-07-12
3,1,male,2.0,free,little,little,7882,42.0,furniture/equipment,good,2021-07-13
4,1,male,2.0,free,little,little,4870,24.0,car,bad,2021-07-14

In [ ]:
df.isna().mean()

Для заполнения пропусков используем метод .fillna() https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html

In [ ]:
# Процент пропуск в колонке age
df["age"].isna().mean()

Что будем делать с этой колонкой? Как ее заполнить и чем?

In [ ]:
df['age'].mean()

In [ ]:
df[df['housing']=='own']['age'].mean()

In [ ]:
df[df['housing']=='rent']['age'].mean()

In [ ]:
df.loc[(df['housing']=='own') & (df['age'].isna()), 'age'] = df[df['housing']=='own']['age'].mean()

In [ ]:
df.loc[(df['housing']=='rent') & (df['age'].isna()), 'age'] = df[df['housing']=='rent']['age'].mean()

In [ ]:
df['housing'].unique()

In [ ]:
for value in df['housing'].unique():
    df.loc[(df['housing']==value) & (df['age'].isna()), 'age'] = df[df['housing']==value]['age'].mean()

### Колонка `credit_amount`

Переведем данные в столбце сумма кредита в float

In [ ]:
# переводим данные по кредиту
df["credit_amount"].astype("float")

Кажется, есть ошибочка. значение 'a     ' не похоже на float or int

немного что такое `numpy`.
https://habr.com/ru/articles/469355/

In [ ]:
## Импортируем numpy. Есть условность, что numpy мы переименовываем в np, как панды в pd
## Также не забывайте, что лучше всего перенести импорты в первую ячейку Юпитера
import numpy as np

В аналитических проектах рекомендуется все необходимые библиотеки импортировать в начале проекта. Разработчики могут с вами не согласится - зачем импортировать все сразу и заполнять память, если, возможно, данный участок кода вообще выполняться не будет. Тут все зависит от специфики - у аналитиков, чаще всего весь код выполняется, да и мощности и оптимизация не нужны такие, как при разработке.

In [ ]:
df["credit_amount"] = df["credit_amount"].replace('a',  np.NaN)
df["credit_amount"] = df["credit_amount"].astype("float")

In [ ]:
df["credit_amount"].describe()

In [ ]:
df.describe()

Все числа записаны в экспоненциальной форме записи  
9.690000e+02, тоже самое что и 969

In [ ]:
# Устанавливаем настройку для отображения чисел в float формате
pd.options.display.float_format = '{:.3f}'.format

Проверим еще раз как выведутся числа:

In [ ]:
df["credit_amount"].describe()

In [ ]:
# Посмотрим на выброс (анамалию в колонке)
df[df["credit_amount"] >= 100000]

Что будем делать с этим значенияем? Как поступить с выбросом?

### Колонка `job`

In [ ]:
df["job"].value_counts()

In [ ]:
df["job"].isna().mean()

что делать тут с пропусками?

In [ ]:
df.head()

In [ ]:
df.isna().mean()

## apply() или цикл?

In [ ]:
def credit_group(x):
    # Не забывайте про докстринг!
    # Если забыли что это такое - посмотрите прошлый вебинар или ноутбук про функции))
    """
    Классифицирует размер кредита на основе заданного порога значений.

    Параметры:
    x (int или float): Сумма кредита.

    Возвращает:
    str: Возвращает категорию кредита как 'little', 'middle', 'big' или 'unknown'.
         'little' для сумм меньше или равных 1553,
         'middle' для сумм от 1554 до 3347,
         'big' для сумм от 3348 до 18424,
         'very big' для сумм больше 18424.
    """
    if x <= 1553:
        return 'little'
    elif x > 1553 and x <= 3347:
        return 'middle'
    elif x > 3347 and x <= 18424:
        return 'big'
    else:
        return 'very big'

Немного документации https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html

In [ ]:
df["credit_amount"]

In [ ]:
df["credit_amount_group_name"] = df["credit_amount"].apply(credit_group)

In [ ]:
df["credit_amount_group_name"]

Сравним, а можно ли тоже самое сделать в цикле без .apply   
Спойлер: можем, но стараемся не делать, при этом, для быстроты можно - но не в продакшн коде

In [ ]:
df["credit_amount"]

In [ ]:
credit_amount_group_list = []

for i in df["credit_amount"]:
    if i <= 1553:
        credit_amount_group_list.append('little')
    elif i > 1553 and i <= 3347:
        credit_amount_group_list.append('middle')
    elif i > 3347 and i <= 18424:
        credit_amount_group_list.append('big')
    else:
        credit_amount_group_list.append('unknown')

In [ ]:
credit_amount_group_list[:3]

In [ ]:
df.head()

In [ ]:
df.shape

### apply() и строка?

In [ ]:
def credit_group_row(row):
    # Не забывайте про докстринг!
    # Если забыли что это такое - посмотрите прошлый вебинар или ноутбук про функции))
    """
    Классифицирует размер кредита на основе заданного порога значений.

    Параметры:
    x (int или float): Сумма кредита.

    Возвращает:
    str: Возвращает категорию кредита как 'little', 'middle', 'big' или 'unknown'.
         'little' для сумм меньше или равных 1553,
         'middle' для сумм от 1554 до 3347,
         'big' для сумм от 3348 до 18424,
         'very big' для сумм больше 18424.
    """
    print(row)

    #if row["credit_amount"] <= 1553 and row["age"] >= 25:
        #return ...

    x = row["credit_amount"]
    if x <= 1553:
        return 'little'
    elif x > 1553 and x <= 3347:
        return 'middle'
    elif x > 3347 and x <= 18424:
        return 'big'
    else:
        return 'very big'

In [ ]:
df["credit_amount_group_name_2"] = df.apply(credit_group_row, axis=1)

In [ ]:
df["credit_amount_group_name_2"]

## Индексация DataFrame

In [ ]:
data = pd.DataFrame(
data={'Имя': ['Анна', 'Сергей', 'Алексей', 'Сергей', 'Екатерина'],
'Фамилия': ['Егорова', 'Тищенко', 'Маевский', 'Пеньков', 'Никонова'],
'Январь': [1000, 1300, 800, 1100, 2000],
'Февраль': [1100, 1250, 750, 1100, 1800],
'Март': [950, 1320, 900, 1200, 1950]}
)

In [ ]:
data

В аналитике одна из самых типовых задач - быстро и удобно получить доступ к данным. То есть к
содержанию отдельных строк, столбцов или ячеек датафрейма. Например, получить данные по
Алексею Маевскому или узнать его зарплату за январь. Но еще чаще мы хотим получить какоую-то
совокупность строк, удовлетворяющую некоторым условиям. Например, посмотреть только тех
сотрудников, которые в марте заработали более 1000 условных единиц.
Именно эту задачу призвана решить система индексации в pandas. Есть несколько способов доступа
к данным, но один из основных - конструкция loc[] .  
Итак, что же мы можем сделать при помощи loc[] ?

#### 1. Получить нужную строку по индексу. (К индексам пока можно относиться как к таковым в списках - это просто номер очередной строки датафрейма).

In [ ]:
data.loc[2]

Видим, что в результате получили все данные по Алексею Маевскому. Не пугайтесь, что они
записаны в столбик, по содержанию - это одна строка нашего датафрейма.  

#### 2.Получить несколько строк по индексу. (Строки передаем списком.) На выходе получаем датафрейм.

In [ ]:
data.loc[[2,4]]

#### 3. Найти одну конкретную ячейку. Конструкция вида `df.loc[индекс, 'столбец']` . То етсь после индекса добавляем интересующий нас столбец.

In [ ]:
data.loc[3,'Январь']

#### 4. И самое интересное, найти строки по условию. Конструкция вида df.loc[условие] . Найдем аналитиков, заработавших в марте менее 1000 условных единиц:

In [ ]:
data.loc[data['Март'] < 1000]

Можно также как и в случае с индексом, выбрать только один столбец, укажем его также после
запятой:

In [ ]:
data.loc[data['Март'] < 1000, 'Фамилия']

Однако существует и альтернативные варианты получить доступ к данным, то, что в теории
называется сокращенной записью. Мы можем выбрать нужные нам строки по условию и без
указания loc[] :

In [ ]:
data[data['Март'] < 1000]

В результате — обычный датаффрейм и можно выбирать нужные столбцы

In [ ]:
data['Фамилия']

In [ ]:
data[data['Март'] < 1000]['Фамилия']

#### ВАЖНО: В чем глобальная разница между сокращенным индексированием и использованием loc?

In [ ]:
data

In [ ]:
data[data['Фамилия'] == 'Егорова']['Имя'] = 'Мария'

In [ ]:
data[data['Фамилия'] == 'Егорова']['Имя']

In [ ]:
data.loc[data['Фамилия'] == 'Егорова', 'Имя'] = 'Мария'

In [ ]:
data[data['Фамилия'] == 'Егорова']['Имя']

In [ ]:
data[data['Фамилия'] == 'Егорова'] = 123

In [ ]:
data

In [ ]:
data['Имя'] = 100

In [ ]:
data

### Метод .iloc()

Метод iloc предназначен для доступа к строкам и столбцам по их числовым индексам. Он работает похоже на индексацию списков и массивов в Python

In [ ]:
data = pd.DataFrame(
data={'Имя': ['Анна', 'Сергей', 'Алексей', 'Сергей', 'Екатерина'],
'Фамилия': ['Егорова', 'Тищенко', 'Маевский', 'Пеньков', 'Никонова'],
'Январь': [1000, 1300, 800, 1100, 2000],
'Февраль': [1100, 1250, 750, 1100, 1800],
'Март': [950, 1320, 900, 1200, 1950]}
)
data.index = ['a', 'b', 'c', 'd', 'e']

data

In [ ]:
data.loc[0]

In [ ]:
# Выбор строки по числовому индексу
data.iloc[0]

In [ ]:
# Выбор конкретного элемента
data.iloc[0, 0]

In [ ]:
# Выбор нескольких строк и столбцов по числовым индексам
# СУПЕР полезно делать срезы
data.iloc[1:3]

### Выборки с условным оператором

In [ ]:
df.head()

____

& (AND)
Оператор & используется для комбинирования нескольких условий, где все условия должны быть истинными, чтобы результат выражения был True. Это значит, что каждое отдельное условие, соединённое оператором &, должно быть выполнено

In [ ]:
(df['age'] > 25) & (df['credit_amount'] > 15000)

In [ ]:
# Выборка строк, где возраст больше 25 и credit_amount больше 15000
df.loc[(df['age'] > 25) & (df['credit_amount'] > 15000)].head()

| (OR)  
Оператор | используется, когда хотя бы одно из условий должно быть истинным для того, чтобы результат выражения был True. То есть строка будет включена в результат, если выполнится хотя бы одно из условий, соединённых оператором |

In [ ]:
# Выборка строк, где возраст больше 25 или credit_amount больше 15000
df.loc[(df['age'] > 25) | (df['credit_amount'] > 15000)].head()

~ (NOT)  
Оператор ~ используется для инвертирования булевых значений условий. ~ меняет True на False и наоборот. Это полезно, когда нужно выбрать строки, которые не соответствуют определённому условию

In [ ]:
# Выборка строк, где возраст НЕ больше 25
df.loc[~(df['age'] > 25)].head()

_______

In [ ]:
df.loc[(df['checking_account'] == 'little') & (df['risk'] == "good")][["age", "sex"]].head()

In [ ]:
df.loc[~(df['checking_account'] == 'little')].head()

In [ ]:
df.loc[df['duration'] > 50][["age", "sex"]].head()

### Сокращенная запись .loc()

In [ ]:
df[(df['checking_account'] == 'little') & (df['risk'] == "good")][["age", "sex"]].head()

In [ ]:
df[df['duration'] > 50][["age", "sex"]].head()

In [ ]:
# не пишем длинные условия
df_pre = df[(df['checking_account'] == 'little') & (df['risk'] == "good")] # фильтр такой

df_pre[(df_pre['duration'] < 500)] # такой фильтр

### Метод .query()

Еще варианты фильтрации.

In [ ]:
df.query("checking_account == 'little'").head()

In [ ]:
check = 'little'
df.query("checking_account == @check").head()

### Какой метод выбрать?

!!! Тот который удобен, важно не делаем большие условия, чтобы легче можно было проверить код

- loc() идеально подходит для работы с данными, когда важно обращаться к элементам по именам меток. Это особенно полезно, если имена столбцов или индексов имеют конкретное значение и не изменяются, что обеспечивает ясность и предотвращает ошибки при изменении порядка данных

- iloc() лучше использовать, когда работа ведётся с позиционными индексами. Этот метод предпочтительнее в ситуациях, когда названия столбцов слишком длинные, содержат специальные символы или вовсе отсутствуют. Однако следует быть осторожным: если порядок столбцов в DataFrame изменится, код, использующий iloc, может начать возвращать неверные данные, поскольку индексация основана исключительно на позиции, а не на метках

- query() удобен для выполнения запросов с условиями, особенно когда условия сложные или динамические. Этот метод позволяет писать условные выражения в строковом формате, что может сделать код более читаемым, особенно при сложных фильтрациях

**Когда выбирать loc или iloc?**  
Выбор между loc и iloc зависит от специфики задачи и структуры данных:

Использование loc:  

Когда важно обращение к данным по названию столбца или индекса  
Когда порядок столбцов может изменяться, что делает обращение по позиции рискованным  
Когда необходима четкость в коде, указывая, что обращение идет именно по метке  

Использование iloc:

Когда названия столбцов непрактичны для использования в коде (слишком длинные, содержат специальные символы или служебные слова)  
Когда данные имеют строго фиксированную структуру и порядок столбцов гарантированно не изменится  
В сценариях, где требуется высокая скорость обработки данных и обращение по числовым индексам может дать небольшое преимущество в производительности  
В общем, loc обеспечивает более высокую устойчивость кода к изменениям в данных, тогда как iloc может быть предпочтителен в определенных ситуациях для упрощения кода или увеличения его производительности.